
<%= link_to "New Article", new_article_path, class:"btn btn-primary" %>

<div class="row  row-cols-1 row-cols-md-2 g-4 my-3">


  <% @articles.each do |article| %>
    <div class="col">
            <div class="card">
              <div class="card-header">
                Featured
              </div>
              <div class="card-body">

                <h5 class="card-title"> <%= article.title %></h5>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <a href="<%= article_path(article) %>" class="btn btn-primary">
                   Go somewhere</a>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
    </div>
  <% end %>

    
</div>

